<body>
	
	

	<h1>task Management tool</h1>
        
			<section id="dg-container" class="dg-container">
				<div class="dg-wrapper">
					<div class="card">
						<h2>Huddle</h2>
						<h3>View the teams BAU and Project</h3>
							<div class="cardbtn">
								<a class="button" href="#">Past Month</a>
								<!-- <div class="line-separator"></div> -->
								<a class="button" href="#">Current Month</a>
								
								<a class="button" href="#">Next month</a>
							</div>
					</div>


						<div class="card">
						<h2>Team Dashboard</h2>
						<h3>Get a full overview of a teams or projects from the Team dashboard app</h3>
							<div class="cardbtn">
						<a class="button" href="#">Past Month</a>
						<a class="button" href="#">Current Month</a>
						<a class="button" href="#">Next month</a>
					</div>
					</div>


						<div class="card">
						<h2>Divisional Dashboard</h2>
						<h3>Get a full overview of a teams or projects from the divisional dashboard app</h3>
							<div class="cardbtn">
						<a class="button" href="#">Past Month</a>
						<a class="button" href="#">Current Month</a>
						<a class="button" href="#">Next month</a>
					</div>
					</div>
				</div>
				<nav>	
					<span class="dg-prev">&lt;</span>
					<span class="dg-next">&gt;</span>
				</nav>
			</section>
        </div>
		<script type="text/javascript" src="javascript/jquery.gallery.js"></script>
		<script type="text/javascript">
			$(function() {
				$('#dg-container').gallery();
			});
		</script/>
    </body>