<div class="sidebar">
     		<nav class="view nav">	
				<a href="#"><img src="images/caricon.png" alt="slider view"></a>
				<a href="#"><img src="images/gridicon.png" alt="grid view"></a>
			</nav>
			<nav class="app nav">
				<a href="#"><img src="images/inprogress.png" alt="toggle in progress"></a>
				<a href="#"><img src="images/todosinprogress.png" alt="toggle to do's in progress"></a>
				<a href="#"><img src="images/todos.png" alt="toggle to do's"></a>
				<a href="#"><img src="images/completed.png" alt="toggle completed to do's"></a>
				<a href="#"><img src="images/addtask.png" alt="add new task"></a>
			</nav>

</div>
