<div class="sidebar">

 		<ul class="global-nav">
 			<li>
 			<a href="#" class>
				<span class="profile-pic"></span>
				<span class="nav-tooltip"></span>
			</a>
			</li> 

			<li>
 			<a href="#" class>
				<span class="icon-caricon"></span>
				<span class="nav-tooltip"></span>
			</a>
			</li>

			<li> 
			<a href="#" class>
				<span class="icon-gridicon"></span>
				<span class="nav-tooltip"></span>
			</a>
			</li> 
			<li>
			<a href="#" class>
				<span class="in-progress"></span>
				<span class="nav-tooltip"></span>
			</a>
			</li>

			<li> 
			<a href="#" class>
				<span class="all-to-dos"></span>
				<span class="nav-tooltip"></span>
			</a>
			</li> 

			<li>
			<a href="#" class>
				<span class="completed-to-dos"></span>
				<span class="nav-tooltip"></span>
			</a>
			</li> 
			
			<li>
			<a href="#" class>
				<span class="new-task"></span>
				<span class="nav-tooltip">"New Task</span>
			</a>
			</li>

		</ul>
	</div>
     	