.background {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%; 
  width: 100%;
  background: url(../images/bg.png) no-repeat center center;
  background-size: cover;
  background-position: right left;
}